<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
</head>
<body>
    <form action="/product/add" method="post">
        <input type="text" placeholder="Product Name">
        <input type="text" placeholder="Product Type">
        <input type="text" placeholder="Product Description">
        <button>Submit</button>
    </form>
</body>
</html>